<div class="grid-4-7" style="height: 100vh;">
    <div class="" style="background-color: #000;">
        <div class="container">
            {{> _errors}}
            {{> _chatForm-tab}}
        </div>

    </div>
    <div class="all-center" style="height: 91;">
        <img src="/img/bg-2.png" alt="">
    </div>
</div>