<div class="mx-2 chat-wrapper">
    <div class="chat-container">
        <button class='btn btn-dark hide' id="scrollToBottom">v</button>

    </div>
    <form id="message-form">
        <div class="input-section">
            <input type="text" class="my-input" id="chat-input-sm" placeholder="Send message..">
            <div class="mt-4">
                <label for="file-sm" id="file-label" class="btn btn-dark text-white"><i
                        class="fas fa-paperclip"></i></label>
                <input type="file" name="choose-file" id="file-sm">
            </div>
            <div class="mt-4">
                <label for="send-sm" class="btn btn-dark text-white"><i class="far fa-paper-plane"></i></label>
                <input type="submit" value="Send" class="btn btn-dark" id="send-sm">
            </div>

        </div>
    </form>

</div>