<style>
    .comment-img {
        width: 10px;
        height: 10px
    }
</style>

<div class="mx-3">
    <div class=" image-and-name">
        <img src="/img/schoolbooks.png" class="round-img comment-img">
        <p>{{commentUser.firstname}} {{commentUser.lastname}}</p>

    </div>
    <div class="mx-4">
        {{commentBody}}
        <small class="text-muted">{{dateFromNow commentDate}}</small>
    </div>

</div>