<select class="my-input text-capitalize" name="room" required>
    <option selected value="{{programme}}"></option>
    <option value="bsc mechanical engineering"> Bsc Mechanical
        engineering</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>