<div class="mx-3">
    <form id="search-books-form">
        <input type="text" class="my-input" id="enter-book-sm">
    </form>
    <h1 class="spinner">Loading</h1>
    <div class="books-output">
        hello books
    </div>
</div>