<div class="mx-3">
    <form id="search-books-form">
        <input type="text" class="my-input" id="enter-book-sm" placeholder="Search books...">
        <input type="submit" value="Search" class="btn btn-dark btn-block">
    </form>
    <h1 class="spinner">Loading</h1>
    <div class="books-output"></div>
</div>