<img src="/img/bg1.png" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{body}}</p>
    <a href="/post/details/{{_id}}" class="btn btn-primary">Go somewhere</a>
    <p class="card-text"><small class="text-muted">{{infoType}}</small></p>
</div>