<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connect | Select room</title>
</head>
<style>
    option {
        color: #8B7575 !important;
    }
</style>

<body>

    {{> _chatForm}}
</body>

</html>